body {
	font-family: Arial, sans-serif;
}

h1 {
    color: red;
	text-align: center;
    padding: 4rem;
}

form {
	width: 50%;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}


.btn button{
    background-color:#04aa6d;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 8px 0px;
    border: none;
}
.btn button:hover{
    opacity: 1;
}


@media only screen and (min-width: 600px) {
	form {
		width: 70%;
	}
}

@media only screen and (min-width: 768px) {
	form {
		width: 50%;
	}
}