{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidder - Contacts</title>

    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">


    <!--GOOGLE FONTS (MONTSERRAT)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wgt@300:400:500:600:700:800:900&display=swap"
        rel="stylesheet">


    <!--SWIPER JS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />



    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

</head>

<body>
    <nav>
        <div class="container nav__container">
            <a href="/">
                {% if user.is_authenticated %}
                <h4>Welcome to Bidder, {{ user.full_name }}!</h4>
                {% else %}
                <h4>Welcome to Bidder!</h4>
                {% endif %}
            </a>
            <ul class="nav__menu">
                <li><a href="/">Home</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'user-login' %}">Login</a></li>
                <li><a href="{% url 'user-create' %}">Registration</a></li>
                {% else %}
                <li><a href="{% url 'user-logout' %}">Logout</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'list-running-auctions' %}">Property</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>

        </div>
    </nav>
    <!--==================================END OF NAVBAR===========================================-->







    <section class="contact">
        <div class="container contact__container">
            <aside class="contact__aside">
                <div class="aside__image">
                    <img src="{% static 'contact.svg' %}">
                </div>
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis necessitatibus vel animi ad eum,
                    cumque incidunt, quia, nihil rem ipsa iure veritatis! Ducimus unde dignissimos dicta, similique odio
                    voluptatem tempore?</p>
                <ul class="contact__details">
                    <li>
                        <i class="uil uil-phone-times"></i>
                        <h5>+910000000000</h5>
                    </li>
                    <li>
                        <i class="uil uil-envelope"></i>
                        <h5>care@bidder.com</h5>
                    </li>
                    <li>
                        <i class="uil uil-location-point"></i>
                        <h5>Modinagar, Ghaziabad</h5>
                    </li>
                </ul>
                <ul class="contact__socials">
                    <li href="https://facebook.com"><i class="uil uil-facebook-f"></i></li>
                    <li href="https://instagram.com"><i class="uil uil-instagram"></i></li>
                    <li href="https://twitter.com"><i class="uil uil-twitter"></i></li>
                    <li href="https://linkedin.com"><i class="uil uil-linkedin-alt"></i></li>
                </ul>
            </aside>




            <form class="contact__form" method="POST" action="{% url 'user-query' %}">
                {% csrf_token %}

                <div class="form__name">
                    <input type="text" name="first_name" placeholder="First Name" required>
                    <input type="text" name="last_name" placeholder="Last Name" required>
                </div>
                <input type="email" name="email" placeholder="Your Email Address" required>
                <textarea name="message" rows="7" placeholder="Enter you query here..." required></textarea>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>















    <!--=============================FOOTER===========================-->

    <footer>
        <div class="container footer__container">
            <div class="footer__1">
                <a href="{% url 'home' %}" class="footer__logo">
                    <h4>Bidder</h4>
                </a>
                <p>
                    ONLINE AUCTION MANAGEMENT SYSTEM
                </p>
            </div>

            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'user-login' %}">Login</a></li>
                    <li><a href="{% url 'user-create' %}">Registration</a></li>
                    {% else %}
                    <li><a href="{% url 'user-logout' %}">Logout</a></li>
                    {% endif %}
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'list-running-auctions' %}">Property</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Contact Us</h4>
                <div>
                    <p>+91 0000000000</p>
                    <p>care@bidder.com</p>
                </div>




                <ul class="footer__socials ">
                    <li>
                        <a href="#"><i class="uil uil-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-instagram-alt"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-linkedin-alt"></i></a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="footer__copyright">
            <small>Copyright &copy; Bidder</small>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>


    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            // when window width is >= 600px
            breakpoints: {
                slidesPerView: 2
            }
        });
    </script>


    <script>
        function validation() {
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var mobile = document.getElementById("mobile").value;

            if (name == "") {
                document.getElementById('u_name').innerHTML = "* First Name can't be blank";
                return false;
            }

            if (name.length < 5) {
                document.getElementById('u_name').innerHTML = "* First Name Length should be greater than 5";
                return false;
            }

            if (!isNaN(name)) {
                document.getElementById('u_name').innerHTML = "* First Name should be character only";
                return false;
            }
            //Last Name
            if (lname == "") {
                document.getElementById('l_name').innerHTML = "* Last Name can't be blank";
                return false;
            }
            if (!isNaN(lname)) {
                document.getElementById('l_name').innerHTML = "* Last Name should be character only";
                return false;
            }


            // Email Validation
            if (email.indexOf('@') <= 0) {
                document.getElementById("u_email").innerHTML = "* Email must contain @";
                return false;
            }
            if ((email.charAt(email.length - 4) != '.') && (email.charAt(email.length - 3) != '.')) {
                document.getElementById("u_email").innerHTML = "* Email must contain .";
                return false;
            }

            //Password
            if (password == "") {
                document.getElementById("u_password").innerHTML = "* Password can't be blank";
                return false;
            }
            if (password.length <= 6) {
                document.getElementById("u_password").innerHTML = "* Weak Password make it Strong"
                return false;
            }

            //Confirm Password
            if (conpassword == "") {
                document.getElementById("c_password").innerHTML = "* Password can't be blank";
                return false;
            }
            if (conpassword.length <= 6) {
                document.getElementById("c_password").innerHTML = "* Weak Password make it Strong"
                return false;
            }
            if (conpassword != password) {
                document.getElementById("c_password").innerHTML = "* Password does not match"
                return false;
            }
        }
    </script>

    <!-- Add the pop-up message box -->
    <div class="error-popup">
        <div class="error-message" id="error-message"></div>
        <button class="close-btn" id="close-btn">Close</button>
    </div>

    <!-- Add the CSS styles for the pop-up -->
    <style>
        /* Style the pop-up */
        .error-popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        /* Style the error message */
        .error-message {
            background-color: rgb(240, 237, 237);
            color: #f44336;
            margin: 15% auto;
            padding: 20px;
            border-radius: 5px;
            width: 50%;
            text-align: center;
        }

        /* Style the close button */
        .close-btn {
            padding: 10px;
            background-color: #f44336;
            color: white;
            border: none;
            margin-top: 10px;
            border-radius: 10px;
        }
    </style>

    <!-- Add the JavaScript code to display the pop-up -->
    <script>
        // Get the pop-up elements
        const errorPopup = document.querySelector(".error-popup");
        const errorMessage = document.getElementById("error-message");
        const closeBtn = document.getElementById("close-btn");

        // Add an event listener to the close button to hide the pop-up
        closeBtn.addEventListener("click", () => {
            errorPopup.style.display = "none";
        });

        // Get the error message from Django messages and display it in the pop-up
        const error = "{% if messages %}{% for message in messages %}{{ message }}{% endfor %}{% endif %}";
        if (error !== "") {
            errorMessage.innerHTML = error;
            errorPopup.style.display = "block";
        }
    </script>

    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>